@media screen and (max-width: 576px) {
    *{
        margin: 0 0.4rem;
    }
    .nav{
        display: none;
    }
    .bars{
        display: block;
    }
    .banner{
        display: flex;
        flex-direction: column;
    }
    .buttons{
        display: flex;
    }
    .banner-info{
        font-size: 3rem;
        font-weight: 800;
    }
    .banner-type{
        margin-bottom: 3.2rem;
    }
    .card{
        width: 12.2rem;
        height: 3.1rem;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 1rem;
        padding: 1rem 1.5rem;
    }
    .card-1{
        position: absolute;
        top: 50rem;
        right: 1rem;
        padding-bottom: 2rem;
    }
    .round-card-container{
        flex-direction: column;
    }
    .round-cards{
        margin-bottom: 2.25rem;
    }
    .extra-section{
        flex-direction: column;
        margin: 0 auto;
        padding: 0.5rem;
    }
    .extra-section-pic{
        margin: 2rem;
    }
    .extra-section-pic img{
        border-radius: 1.5rem;
        border: none;
        width: 20rem;
        height: 18rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #bmi-title{
        margin: 2rem auto;
    }
    #bmi-para{
        margin: 0 auto;
    }
    .clg-section{
        flex-direction: column;
    }
    .chart-title{
        margin-top: -2rem;
        margin-bottom: 3rem;
    }
    .chart-section{
        margin-bottom: 5rem;
    }
    .calculate-form{
        margin: 0 auto;
        margin-right: 2rem;
    }
    .footer{
        flex-direction: column;
        gap: 3rem;
    }
    .row-1{
        flex-direction: column;
    }
    #form{
        border-radius: 0.5rem;
        height: 3rem;
        padding-left: 0.5rem;
        background-color: rgba(128, 128, 128, 0.296);
    }
    #form2{
        margin-left: 1rem;
    }
}