
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
            
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.miama-font{
    font-family: 'Miama', sans-serif;                    
}
*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
header{
    max-width: 1110px;
    margin: 50px auto;
}
.logo{
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
    width: 29rem;
    height: 2.8rem;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.8rem;
}
.navbar{
    font-size: 1.25rem;
    margin: 5px;
}
#home{
    background-color: #E6533C;
    padding: 0.5rem 1.25rem;
    border-radius: 2.8rem;
}
#about{
    padding-right: 1rem;
}
.banner{
    margin: 6.25rem auto;
    display: flex;
    justify-content: space-between;
}
.banner img{
    position: relative;
    bottom: 3.1rem;

}
.bars{
    display: none;
}
.banner-info{
    font-size: 4.8rem;
    font-weight: 850;
}
.banner-para{
    margin-top: 1.8rem;
    margin-bottom: 30px;
}
.banner-para > p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}
.buttons > button{
    padding: 1rem 2.5rem;
    border-radius: 2.7rem;
    border: 1px solid white;
    font-size: 1.2rem;
    font-weight: 600;
}
#orange-btn{
    background-color: #E6533C;
    border: none;
    margin-right: 1rem;
}
.card{
    width: 12.2rem;
    height: 3.1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}
.card-1{
    position: absolute;
    top: 18.1rem;
    right: 6.9rem;
    padding-bottom: 2rem;
}
.card-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 37.5rem;
    right: 28.12rem;
}
.red-dot{
    background-color: #E6533C;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}
#span1{
    font-size: 2.5rem;
    font-weight: 900;
}
#span2{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.65);
}
#span3{
    font-size: 1.5rem;
    font-weight: 900;
}
#sec-para-title{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1rem;
}
#sec-para-des{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 3.7rem;
}
.round-card-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6rem;
}
.round-pic{
    display: flex;
    justify-content: center;
    margin-bottom: 1.8rem;
}
.round-pic img{
    border-radius: 50%;
    
}
.round-card-title{
    font-size: 18;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.round-card-des{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.round-card-des p,
#bmi-para{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.9rem;
}
.extra-section{
    padding: 1.9rem 1.9rem 1.9rem 3.3rem;
    background-color: rgba(177, 179, 182, 0.359);
    margin: 0 11.9rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
}
.extra-section-title{
    margin-bottom: 1rem;
}
.extra-section-title p{
    font-size: 3rem;
    font-weight: 900;
}
.extra-section-pic img{
    border-radius: 1.5rem;
    border: none;
    width: 22.8rem;
    height: 19.5rem;
}
.extra-section-para p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
#extra-btn{
    background-color: #E6533C;
    border: none;
    border-radius: 3rem;
    padding: 1rem 4rem;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 2rem;
}
.bmi-claculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5.5rem;
}
#bmi-title{
    font-size: 3rem;
    font-weight: 900;
}
.clg-section{
    margin-bottom: 5.5rem;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(128, 128, 128, 0.307);
}
.calculate-para{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.chart{
    display: grid;
    height: 270px;
    width: 250px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3.3rem;
}
.box{
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.light{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.9rem;
}
.heavy{
    font-size: 1rem;
    font-weight: 500;
}
.calculate-form > form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.75rem;
}
#form{
    border-radius: 0.5rem;
    height: 3rem;
    padding-left: 1.5rem;
    background-color: rgba(128, 128, 128, 0.296);
}
#form2{
    width: 100%;
    padding-left: 1.5rem;
    height: 3.1rem;
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    background-color: rgba(128, 128, 128, 0.296);
}
.chart-title{
    font-size: 1.75rem;
    font-weight: 900;
}
#calculate-btn{
    background-color: #E6533C;
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 2.7rem;
    border: 1px solid white;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 1rem;
}
footer{
    margin-top: 6.75rem;
}
.foot-1 h1{
    margin-bottom: 1.5rem;
}
.foot-1 p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
#title-0{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3rem;
}
.subtitle{
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 1.5rem;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}
#hr{
    width: 100%;
    margin-bottom: 2rem;
}
#rights{
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
/* .meet{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
 .meet-title{
    font-size: 3rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
 }
 .meet-subtitle p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
 }
 .meet-subtitle{
    margin-bottom: 3.7rem;
 }
 .trainers{
    width: 1060px;
    display: flex;
    justify-content: center;
 }
 .row-1{
    display: flex;
    justify-content: center;
 }
 .row-1 img{
    width: 300px;
    height: 250px;
    margin: 0.5rem;
    border-radius: 1.35rem;
    filter: brightness(80%);
 }
 .sp img{
    height: 11.25rem;
    width: 11.25rem;
 }